<div class="container">
    <div class="card text-center">
        <div class="gooddeal card-header">
            <h2>Nos bons plans</h2>
        </div>
        <div class="card-body">

                <h3 class="card-title">20% sur la menuiserie</h3>
                <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi cumque deserunt fugit in quod! </p>

            <p>Appeller nous au 06 11 22 33 44 pour organiser un RDV avec l'un de nos conseillers.</p>
        </div>
    </div>
</div>