{% extends "base.html.twig" %}
{% block body %}
    <section id="beforeAfter">
        <div class="section_title text-center light_gray">
            <h2 class="p-0 m-0">Nos travaux</h2>
        </div>
        <div class="container-fluid pb-5 pt-5 light_gray">
            <div class="beforeAfterContainer">
                <div id="sliderContainer">
                    <a type="button" class="nav_button_beforeAfter" id="prevImageButton"><i class="left arrow"></i></a>
                    <div id="slider"></div>
                    <a type="button" class="nav_button_beforeAfter" id="nextImageButton"><i class="right arrow"></i></a>
                </div>
            </div>

            <div id="image_counter" class="beforeAfterCounter mt-3">
                <div class="px-2 py-1"></div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Nos bons plans</h2>
            {% for good_deal in good_deals %}
                <h3>{{ good_deal.title }}</h3>
                <p>{{ good_deal.description }}</p>
            {% endfor %}
            <p>Appeller nous au 06 11 22 33 44 pour organiser un RDV avec l'un de nos conseillers.</p>
        </div>
    </div>
    </div>
    <section>
        {% include 'home/_good_deal_block.html.twig' %}
    </section>
{% endblock body %}
{% block footer %}
    {% include 'footer/index.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('juxtapose') }}
    {{ encore_entry_script_tags('beforeAfterSlider') }}
{% endblock %}

