{% extends "layout_visitor.html.twig" %}

{% block body %}

    <section class="cgvu">

        <div class="p-5 mt-5 container justify-content-center">
            <div class="title pb-5">
                <h1>Conditions générales de ventes</h1>

                <img class="renovlogo" src="{{ asset('build/images/main/logo_no_back.png') }}" width="30%" alt="logoRenovingHabitat">
            </div>

            <h2>Art-1 <span>Dispositions générales</span></h2>
            <p>
            Les présentes conditions générales régissent l’exécution des travaux confiées à la société RENOVING HABITAT.
            Le fait d’accepter un devis et de passer commande à notre société implique acceptation sans réserve des
            présentes conditions générales qui annulent et remplacent toutes clauses générales ou particulières figurant
            dans tout documents émanant de nos clients.
            </p>

            <h2>Art-2 <span>Informations précontractuelles</span></h2>
            <p>
            Le client reconnait avoir pris connaissance, avant la formation du présent contrat, des informations
            précontractuelles décrites notamment aux articles L111-1, L111-2, L113-3 du code de la consommation.
            </p>

            <h2>Art-3 <span>Commande</span></h2>
            <p>
            La formation du contrat se réalise exclusivement par l’intermédiaire d’un devis ou bon de commande signé
            revêtu de la mention Lu et approuvé, bon pour commande signé daté par le client.
            La commande est ferme pour le client, dès la confirmation de sa commande et le versement d’un acompte, dont
            le montant est déterminé entre les parties ou, en cas d’application des dispositions de l’ART L.121-25 du
            code de la consommation, dès l’expiration du délai de 14 jours, visé ci-dessous.
            Les acomptes versés, après acceptation par le client, resterons acquis à notre société, sous réserve de
            toute indemnisation qui pourrait être demandée, dans le cas de l’annulation de la commande.
            Toute commande doit faire l’objet d’une acceptation expresse de notre société.
            Le devis est valable deux mois à compter de sa date. d’établissement sauf stipulation écrite contraire sur
            celle-ci.
            Dans le cas où les travaux nécessiteraient une autorisation (telle que permis de construire, déclaration de
            travaux, autorisation de copropriété), l’acheteur est le seul responsable de son obtention.
            </p>

            <h2>Art-4 <span>Conditions d'exécution et reception des travaux</span></h2>
            <p>
            La réception des travaux a lieu dès leur achèvement. Elle est
            prononcée à la demande de l’entrepreneur, par le maître de l’ouvrage, avec ou sans réserves.
            La réception libère l’entrepreneur de toutes les obligations
            contractuelles autres que les garanties légales.
            Les motifs de refus de réception doivent être précisés par lettre
            recommandée avec accusé de réception dans les trois jours suivant la demande de l’entreprise. Si la visite a
            eu lieu, les motifs doivent être indiqués sur le procès-verbal de refus.
            Si la réception doit intervenir judiciairement, les frais
            correspondants seront à la charge du maître de l’ouvrage.
            L’entreprise est assurée pour la couverture de risques mettant
            en jeu sa responsabilité. L’attestation d’assurance sera fournie sur
            Demande.
            Le délai de réalisation des travaux est de 1 an sauf accord entre les parties convenu aux conditions
            particulières.
            Le délai d’exécution commencera à courir à compter de la réception par l’entreprise de l’acompte à la
            commande.
            Dans le cas où le client appel au crédit pour le financement de ses travaux, le délai d’exécution ne peut
            commencer à courir qu’à compter de l’obtention effective du prêt et du passage du métreur.
            Le délai d’exécution sera prolongé de plein droit dans les cas
            suivants : intempéries telles que définies par le code du travail et
            rendant impossible toute exécution des travaux convenus, cas de
            force majeure, travaux supplémentaires ou imprévus, retard du fait
            du maître de l’ouvrage ou non-exécution par lui de ses obligations.
            L’eau, l’électricité, les accès, les aires de stockage et
            d’installation nécessaires à la réalisation des travaux seront mis à
            la disposition de l’entreprise en quantités suffisantes, gratuitement
            et à proximité des travaux.
            Des l’achèvement des travaux par notre société, le client et notre société se réuniront pour signer l’acte
            de réception. En cas de refus de la part du client de signer le PV de réception, le chantier sera réputé
            accepté.
            En revanche le client peut, s’il le juge nécessaire, faire notifier des réserves qui seront portés sur le
            procès-verbal de réception, sur lequel notre société précisera le détail nécessaire pour remédier à ses
            réserves.
            </p>

            <h2>Art-5 <span>Prix et paiement</span></h2>
            <p>
            Il est demandé un acompte de 30 % du montant du marché à la
            commande et avant tout début d’exécution des travaux. RENOVING HABITAT pourra demander le paiement
            d’acomptes mensuels (situations de travaux) au prorata de l’avancement pour tous travaux d’une durée
            supérieure à 30 jours.
            En fin de travaux, l’entreprise facturera le solde des travaux dans les conditions prévues à l’article 4.
            Aucune retenue de garantie ne s’applique aux marchés de
            l’entreprise.
            Les demandes de paiements et factures seront réglées à
            L’entreprise par chèque sous 10 jours après leur réception. Aucun
            escompte ne sera accordé pour paiement anticipé.
            En cas de non-paiement à la date portée sur la facture, des pénalités de retard de 4 fois le taux de
            l’intérêt légal seront dues à l’entreprise.
            Pour les clients professionnels ressortissant aux dispositions de l’article L. 441-6 du code de commerce,
            tout retard de paiement ouvre droit à l'égard du créancier à une indemnité forfaitaire pour frais de
            recouvrement de 40 euros. Lorsque les frais de recouvrement exposés sont supérieurs à ce montant,
            l’entreprise peut demander une indemnisation complémentaire, sur justification
            En cas de non-paiement à échéance, l’entrepreneur pourra
            suspendre les travaux dans un délai de 15 jours, après mise en
            demeure préalable au maître de l’ouvrage restée infructueuse.
            En cas de résiliation unilatérale du fait du maître de l’ouvrage
            avant le démarrage des travaux, et sauf cas de force majeure, le
            montant des acomptes versés seront conservé par l’entreprise à titre d’indemnisation, sans préjudice des
            frais supplémentaires qui
            pourraient être dus, sur justificatif, tels que coût des matériaux et
            matériels commandés ou fabriqués.
            Pour le cas où le client prévoit de financier sa commande par le biais d’un concours bancaire total auprès
            d’un organisme autre que celui proposé par le vendeur et conditionne la mise en œuvre des travaux à
            l’obtention de ce financement, il s’engage à fournir à la société RENOVING HABITAT la justification du dépôt
            de sa demande de prêt dans un délai d’un mois maximum à compter de la date de la commande est devenue
            définitive.
            A l’expiration de ce délai et à défaut d’un tel justificatif sans qu’aucune mise en demeure préalable ne
            soit nécessaire, la société se réserve le droit de considérer la commande comme résilié par le client et
            d’exiger, à titre de dommages et intérêts, une somme égale à 30% du montant total HT de la commande.
            Les prix des produits ou services sont indiqués en euros sur le devis ou bon de commande, taxes liées à la
            vente des produits ou services, dont TVA comprises.
            Les tarifs applicables sont ceux en vigueur au moment de la signature.
            Les factures sont payables net, sans escompte, à leurs réception.
            Le règlement se fait par chèque ou virement à l’ordre de notre société, selon les modalités figurant le
            devis ou bon de commande.
            Le client s’engage à versé 30% si le financement proposé est inférieur à 70% du cout global de la commande
            et si le financement proposé est concrétisé par une offre préalable de financement supérieure a 70% du
            montant total de la commande : l’acquéreur autorise expressément le vendeur à percevoir de l’établissement
            préteur un acompte de 30% du montant total de la commande.
            Il est expressément prévu que cet acompte ne portera pas intérêts et que le financement définitif ne sera
            mis en place qu’après l’exécution des travaux.
            Le client doit attester de l’application du taux intermédiaire ou réduite de TVA aux travaux effectués par
            notre société. Il n’est possible de facturer au taux intermediare ou réduit que si une attestation, qui
            confirme le respect des conditions d’application sur la période de deux ans, est remise au professionnel
            avant la facturation.
            </p>
        </div>
    </section>

{% endblock body %}
