{% extends 'base.html.twig' %}

{% block body %}
    <h1>mon projet</h1>
    <div class="container">
        <div class="row main_categories_row">
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">3</label>
                </div>
            </div>
        </div>
        <div class="row main_categories_row">
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox4">4</label>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox5">5</label>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox6">6</label>
                </div>
            </div>
        </div>
        <div id="form_container"><div id="formCouverture">lol</div></div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('monprojet') }}
{% endblock %}