{% extends 'layout_visitor.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row main_categories_row">
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <ul class="ul_nostyle">
                        <li>
                            <img class="mon_projet_checkbox_image" src="assets/mon_projet_image/tuile.jpg" alt="toiture">
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label pt-3 pb-2" for="inlineCheckbox1">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Toiture
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <ul class="ul_nostyle">
                        <li>
                            <img class="mon_projet_checkbox_image" src="assets/mon_projet_image/ravalement.jpg" alt="ravalement">
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label pt-3 pb-2" for="inlineCheckbox2">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Ravalement
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <ul class="ul_nostyle">
                        <li>
                            <img class="mon_projet_checkbox_image" src="assets/mon_projet_image/chauffage.jpg" alt="chauffage">
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label pt-3 pb-2" for="inlineCheckbox3">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Chauffage
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row main_categories_row">
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <ul class="ul_nostyle">
                        <li>
                            <img class="mon_projet_checkbox_image" src="assets/mon_projet_image/terrassement.jpg" alt="terrassement">
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label pt-3 pb-2" for="inlineCheckbox4">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option1">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Terrassement
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <ul class="ul_nostyle">
                        <li>
                            <img class="mon_projet_checkbox_image" src="assets/mon_projet_image/travaux_interieur.jpg" alt="Travaux intérieur">
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label pt-3 pb-2" for="inlineCheckbox5">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Travaux intérieur
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="form-check form-check-inline">
                    <ul class="ul_nostyle">
                        <li>
                            <img class="mon_projet_checkbox_image" src="assets/mon_projet_image/salle_de_bain.jpg" alt="Salle de bain">
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label pt-3 pb-2" for="inlineCheckbox6">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Salle de bain
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row form_container">
            {% include 'monProjet/forms/formCouverture.html.twig' %}
            {% include 'monProjet/forms/formRavalement.html.twig' %}
            {% include 'monProjet/forms/formChauffage.html.twig' %}
            {% include 'monProjet/forms/formTerrassement.html.twig' %}
            {% include 'monProjet/forms/formTravauxInterieur.html.twig' %}
            {% include 'monProjet/forms/formSalleDeBain.html.twig' %}
        </div>
        <div class="form-group mt-5">
            <h2 class="text-center mb-4 mt-3">Informations personnelles</h2>
            <div class="row">
                <div class="col-md-6">
                    <label for="firstname">Prénom :</label>
                    <input type="text" class="form-control" id="firstnameForm">
                </div>
                <div class="col-md-6">
                    <label for="lastname">Nom :</label>
                    <input type="text" class="form-control" id="lastnameForm">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="email">Email :</label>
                    <input type="email" class="form-control" id="emailForm">
                </div>
                <div class="col-md-6">
                    <label for="address">Adresse :</label>
                    <input type="text" class="form-control" id="addressForm">
                </div>
            </div>
            <label for="FormControlTextarea">Message</label>
            <textarea class="form-control" id="FormControlTextarea" rows="7"></textarea>
            <button id="sendAllForms">send</button>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('monprojet') }}
{% endblock %}