{% extends 'base.html.twig' %}

{% block body %}

    <section class="jumbo">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <img src="/assets/logo_no_back.png" alt="Logo Renoving Habitat">
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
    </section>

{% endblock body %}
