$primary-color: #ffffff;
$secondary-color: #eeeeee;
$darker-secondary-color: #4e555b;
$brand-color: #4c934e;
$radio-color: #a9a9a9;
$white: white;
$font-radio: "FontAwesome";
$brand-color-rgba: rgba(76, 147, 78, 0.6);
$brand-darker: #3A713C;
$light-grey: #ccc;
$lighter-grey: #e6e6e6;
$light-brand-color: rgba(76, 147, 78, 0.30);
$dark-color: black;
$shadow: rgba(166, 166, 166, 0.65);
$transparent: transparent;
$postit: #ffffa5;
$red: #ad3232;
$red-darker: #7f2525;
$grey:darkgrey;
$brick : #B22222;
$font-hand-writing: 'Patrick Hand', cursive;
