$primary-color: #ffffff;
$secondary-color: #eeeeee;
$darker-secondary-color: #4e555b;
$brand-color: #4c934e;
$light-brand-color: rgba(76, 147, 78, 0.30);
$dark-color: black;
$shadow: rgba(166, 166, 166, 0.65);
$transparent: transparent;
$postit: #ffffa5;

$font-hand-writing: 'Patrick Hand', cursive;
