$primary-color: #ffffff;
$secondary-color: #eeeeee;
$darker-secondary-color: #4e555b;
$brand-color: #4c934e;
$brand-color-rgba: rgba(76, 147, 78, 0.6);
$brand-darker: #3A713C;
$light-grey: #ccc;
$dark-color: black;
$footer_color1: rgba(76,147,78,1);
$footer-color2: rgba(255,255,255,1);
