@import "vars";
@import "home_map";
@import "~bootstrap/scss/bootstrap";
@import "homepage";
@import "~tooltipster/dist/css/tooltipster.bundle";
@import "homepage.scss";
@import "~juxtaposejs/build/css/juxtapose";
@import "~leaflet/dist/leaflet.css";

body {
    background-color: $primary-color;
}

a {
    color: $brand-color;
}

.custom-file-label::after{
     content: "Parcourir";
 }