.cgvu {
  .title {
    text-align: center;
    font-variant: small-caps;
  }
  h2 {
    font-variant: small-caps;
    font-size: 1.5em;
    color: $darker-secondary-color;
    span {
      color: $brand-color;
      font-size: 1.3em;
    }
  }
}
