.footer_left_list > ul, .footer_right_list > ul{
  list-style-type: none;
}

.footer_left_list{
  margin-left: 10%;
}

.footer_right_list{
  margin-right: 10%;
}

.renovlogo{
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer_links{
  font-size: 150%;
  text-decoration: underline;
  color: unset;
  transition: color 0.2s ease-in-out;
}

.footer_links:hover{
  color: #515151;
  transition: color 0.2s ease-in-out;
}