
#maped_house_container{
	width: 100%;
	display: flex;
  	justify-content: center;
}

.maped_house_image{
    margin-top: 5em;
    display: block;
    max-width: 700px;
    max-height: 500px;
}

#img-tooltip {
  	position: absolute;
}

#slider{
  width: 800px !important;
  margin: 0 auto;
}


#sliderContainer {
  width: 50%;
  height: auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

.nav_button_beforeAfter{
  max-height: 50px;
}

.beforeAfterContainer{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#image_counter{
  display:flex;
  align-items: center;
  justify-content: center;
}

.jx-knightlab{
  visibility: hidden;
}

.arrow {
  border: solid black;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 15px;
}

.arrow:hover {
  border-width: 0 20px 20px 0;
}

.right {
  transform: rotate(-45deg);
  margin-left: 50px;
}

.right:hover {
  transform: rotate(-45deg);
  margin-left: 45px;
}

.left {
  transform: rotate(135deg);
  margin-right: 50px;
}

.left:hover {
  margin-right: 45px;
}

.light_gray{
  background-color: $secondary-color;
}



/*.beforeAfterCounter > div{

  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #000;
}*/

