
#maped_house_container {
	width: 100%;
	display: flex;
  	justify-content: center;
}

.maped_house_image{
    display: block;
    width: 80%;
}

#img-tooltip {
  	position: absolute;
}

#slider {
    width: 800px !important;
    margin: 0 auto;
}


#sliderContainer {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.nav_button_beforeAfter {
  max-height: 50px;
}

.before-after-container {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.jx-knightlab {
  visibility: hidden;
}

.arrow {
  border: solid $dark-color;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 15px;
}

.arrow:hover {
  border-width: 0 20px 20px 0;
}

.right {
  transform: rotate(-45deg);
  margin-left: 50px;
}

.right:hover {
  transform: rotate(-45deg);
  margin-left: 45px;
}

.left {
  transform: rotate(135deg);
  margin-right: 50px;
}

.left:hover {
  margin-right: 45px;
}

.light_gray {
  background-color: $secondary-color;
}
.zone {
  h2 {
    font-size: 2.5em;
    color: $darker-secondary-color;
    text-align: center;
  }
}

.presentation {
  text-align: left;
  margin-top: 4.55em;
  .mainTitle {
    margin-top: 2em;
  }
  .jumbotron {
    background-image: url("../images/homepage/bg2.png");
    background-attachment: fixed;
    height: 45vh;
    background-repeat: no-repeat;
    margin-bottom: 0;
    background-position: right top;
  }

  h1 {
    color: $brand-color;
    font-variant: small-caps;
  }
  h2 {
    font-size: 2.5em;
  }
}
.intro {
  text-align: left;
  background-color: $brand-color;
  h2 {
    font-size: 2.5em;
    color: $secondary-color;
    text-align: center;
  }
  p {
    color: $secondary-color;
  }
  img {
    position: relative;
    border-radius: 0 100px 0 100px;
    box-shadow: inset -5px -4px 13px -8px $shadow;
  }
}

.house {
  h2 {
    font-size: 2.5em;
    color: $darker-secondary-color;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.partenaires {
  background-color: $brand-color;
  h2 {
    font-size: 2.5em;
    color: $secondary-color;
    text-align: center;
  }
  .title {
    p {
      color: $secondary-color;
    }
  }
  .logo-partenaires {

    .logo {
      height: 5em;
      line-height: 5em;
      display: inline-block;
      img {
        max-height: max-content;
        vertical-align: middle;
      }
    }
  }
}

.bon-plans {
  align-content: center;
  background: url("../images/main/mini_gift_house.png");
  background-color: $secondary-color;
  background-repeat: no-repeat;
  object-fit: fill;
  background-position: right;
  p {
    text-align: center;
    vertical-align: middle;
  }
  .gooddeal {
    h2 {
      font-size: 2.5em;
      color: $darker-secondary-color;
      text-align: center;
    }

  }
  .box {
    margin-top: 3em;
    display: ruby-text;
  }
  .postit {
    h3 {
      font-size: 2em;
      color: $brand-color;
    }
    img {
      margin-top: -1em;
    }
    text-align: center;
    color: $darker-secondary-color;
    width: 20em;
    height: 20em;
    background-color: $postit;
    padding: 1em;
    font-family: $font-hand-writing;
    box-shadow: 2px 4px 6px $darker-secondary-color;
    transform: rotate(-3deg);
    p {
      font-size: 1.5em;
    }
  }

}

.avant-apres {
  background-color: $light-brand-color;
  h2 {
    font-size: 2.5em;
    color: $darker-secondary-color;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
