
#maped_house_container{
	width: 100%;
	display: flex;
  	justify-content: center;
}

.maped_house_image{
    display: block;
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

#img-tooltip {
  	position: absolute;
}

