@import "vars";
@import "app";
@import "~bootstrap/scss/bootstrap";

.navbar {
  background-color: $primary-color;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1em;
  box-shadow: 0 1px 10px #888888;

  .navbar-light {
    color: #4e555b;
    :hover {
      color: $primary-color;
    }
  }

  li {

    a {
      color: #555;
    }

    position: relative;
    display: block;
    float: left;
    margin-right: 1.563em;

    height: 100%;
    width: 15em;

    cursor: pointer;
    user-select: none;

    background: #EEE;

    text-align: center;
    line-height: 1.5em;
  }
  li::before {
    content: '';
    position: absolute;
    display: block;

    right: -1.5em;

    width: 0;
    height: 0;

    border-top: 2.5em solid transparent;
    border-left: 1.563em solid #EEE;
  }
  li::after {
    content: '';
    position: absolute;
    display: block;

    top: 0;
    left: -1.5em;

    width: 0;
    height: 0;

    border-top: 2.5em solid #EEE;
    border-left: 1.563em solid transparent;
  }

  /* Hover */

  li:hover {
    background: $brand-color;
    color: $primary-color;

  }
  li:hover::after {
    border-top: 2.5em solid $brand-color;
    border-right: 1.563em solid transparent;
  }
  li:hover::before {
    border-top: 2.5em solid transparent;
    border-left: 1.563em solid $brand-color;
  }

  .dropdown-menu {
    width: 16.5em;
    background-image: linear-gradient(to bottom left, $primary-color, $primary-color, $brand-color);
    .dropdown-item {
      color: #4e555b;
    }
    :hover {
      color: $primary-color;
      background-color: $brand-color;
    }
  }

  .navbar-toggler {
    border: 2px solid $brand-color;
    background-image: linear-gradient(to bottom left, $primary-color, $brand-color);
    padding: 0;

    :hover {
      background-color: white;
    }

    span {
      padding: 5px;
    }
  }

  @media (max-width: 1300px) {
    li {
      width: 13em;
    }
    .dropdown-menu {
      width: 14.5em;
    }
  }
  @media (max-width: 1200px){
    .nav-item {
      background-color: $primary-color;
      width: 100%;
      position: relative;
    }

    .dropdown-menu {
      width: 100%;
      text-align: center;
    }

    .nav-item::before {
      display: none;
    }
    .nav-item::after {
      display: none;
    }
  }
}
