.intro-recrutement {
  text-align: left;
  margin-top: 4.55em;

  .page-name {
    margin-top: 2em;
  }

  .jumbotron {
    background-image: url("../images/recrutment/macon.png");
    background-attachment: fixed;
    height: 48vh;
    background-repeat: no-repeat;
    margin-bottom: 0;
    background-position: top;
    background-size: contain;
  }

  h1 {
    color: $brand-color;
    font-variant: small-caps;
    text-align: center;
    margin-top: 3.5em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    text-shadow: 2px 3px 2px $shadow;
  }
  @media screen and (max-width: 768px) {
    .jumbotron {
      height: 10em;
      margin-bottom: 0;
      h1 {
        font-size: 2em;
        margin-top: 0;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .jumbotron {
      h1 {
        img {
          display: none;
        }
      }
    }
  }
}

.form-recruitment {
  .bord {
    border-left: none;
    border-top: none;
    border-right: 2px solid $darker-secondary-color;
    border-bottom: 2px solid $darker-secondary-color;
    transform: skew(25deg);
    width: 40%;
    justify-content: center;
    h2 {
      font-size: 2.5em;
      color: $darker-secondary-color;
      text-align: center;
      transform: skew(-25deg);
    }
  }
  @media (max-width: 768px) {
    .bord {
      width: 90%;
      border-right: none;

      h2 {
        font-size: 1.5em;
      }
    }

  }
}

.h5{
  font-size: 2.5em;
}
.recruitment {
  background-color: $brand-color;
  .panel{
    text-align: center;
    background-color: $brand-color;
    color: $secondary-color;
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: oblique;
  }
  @media screen and (max-width: 768px) {
    .panel {
      h3 {
        font-size: 1em;
      }
    }
  }
}

.custom-file-label::after{
  content: "Parcourir" !important;
}
.requiredField ::after{
  font-size: 1em;
  color: $red;
  content: '*';
}
