.recrutons {

  .jumbotron {
    background-image: url("../images/recrutment/macon.png");
    background-size: cover;
  }
  .titles {
    font-variant: small-caps;
    text-align: right;
  }
  h1 {
    color: $darker-secondary-color;
    font-size: 5vw;
  }
  h2 {
    color: $brand-color;
    font-size: 5vw;
  }
}
.panel{
  text-align: center;
  background-color: $brand-color;
  color: $secondary-color;
  padding-top: 1em;
  padding-bottom: 1em;
  font-style: oblique;
}
.h5{
  font-size: 2.5em;
}
.recruitment {
  background-color: $brand-color;
  .bord {
    border-left: none;
    border-top: none;
    border-right: 2px solid $darker-secondary-color;
    border-bottom: 2px solid $darker-secondary-color;
    transform: skew(25deg);
    width: 40%;
    justify-content: center;
    h2 {
      font-size: 2.5em;
      color: $darker-secondary-color;
      text-align: center;
      transform: skew(-25deg);
    }
  }
}
.custom-file-label::after{
  content: "Parcourir" !important;
}
.requiredField ::after {
  font-size: 1em;
  color: $red;
  content: '*';
}