<div class="col-md-6 form_projet" id="formRavalement">
    <form>
        <div class="card mt-4">
            <!-- Default panel contents -->
            <div class="card-header">Ravalement de façade</div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Salissure ?
                    <label class="switch ">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Décollement ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Remonté capillaire au niveau du sol ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Fissure présente depuis ?
                    <div class="radio_container float-right">
                        <div class="form-check mt-1">
                            <label>
                                <input type="radio" name="radio1" checked> <span class="label-text">+ de 1 cm</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="radio1"> <span class="label-text">- de 1 cm</span>
                            </label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    Taille des fissures (horizontal / vertical) ?
                    <div class="radio_container float-right">
                        <div class="form-check mt-1">
                            <label>
                                <input type="radio" name="radio2" checked> <span class="label-text">+ de 10 ans</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="radio2"> <span class="label-text">- de 10 ans</span>
                            </label>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </form>
</div>

