<div class="col-md-6 form_projet" id="formTerrassement">
    <form>
        <div class="card mt-4">
            <!-- Default panel contents -->
            <div class="card-header form_title">Terrassement</div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Béton désactivé ?
                    <label class="switch ">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Dalle de béton ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Carrelage ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>


            </ul>
        </div>
    </form>
</div>

