<div class="col-md-6 form_projet" id="formTravauxInterieur">
    <form>
        <div class="card mt-4">
            <!-- Default panel contents -->
            <div class="card-header form_title">Travaux intérieurs</div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Rénovation de pièces ?
                    <label class="switch ">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Tâches noires ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Décollement de papier peint ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>
            </ul>
        </div>
    </form>
</div>

