<div class="col-md-6 form_projet" id="formChauffage">
    <form>
        <div class="card mt-4">
            <!-- Default panel contents -->
            <div class="card-header form_title">Chauffage maison</div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Changement total
                    <label class="switch ">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Entretient
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Réparation
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Type de chauffage ?
                    <div class="radio_container float-right">
                        <div class="form-check mt-1">
                            <label>
                                <input type="radio" name="radio1" checked> <span class="label-text">Electrique</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="radio1"> <span class="label-text">Gaz</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="radio1"> <span class="label-text">Fioul</span>
                            </label>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </form>
</div>

