<div class="col-md-6 form_projet" id="formSalleDeBain">
    <form>
        <div class="card mt-4">
            <!-- Default panel contents -->
            <div class="card-header form_title">Salle de bain</div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Douche à l'italienne ?
                    <label class="switch ">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Cabine de douche ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Faïence ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Carrelage ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>
            </ul>
        </div>
    </form>
</div>

