<div class="col-md-6 form_projet" id="formCouverture">
    <form>
        <div class="card mt-4">
            <!-- Default panel contents -->
            <div class="card-header">Couverture</div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Tuiles cassées ?
                    <label class="switch ">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Fuite d'eau ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Présence de mousse / algue / lichen / champignon ?
                    <label class="switch">
                        <input type="checkbox" class="primary">
                        <span class="slider"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    Dernier traitement ?
                    <div class="radio_container float-right">
                        <div class="form-check mt-1">
                            <label>
                                <input type="radio" name="radio" checked> <span class="label-text">+ de 5 ans</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="radio"> <span class="label-text">- de 5 ans</span>
                            </label>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </form>
</div>

