{% extends 'layout_admin.html.twig' %}

{% block header %}
    {% include 'admin/nav.html.twig' %}
{% endblock header %}
{% block body %}
    <h1>admin page</h1>
    <div class="container mx-auto admin_categ_container">
        <div class="row mx-auto">
            <div class="col-6">
                <div class="admin_categ_wrapper text-center">
                    <i class="fas fa-euro-sign admin_categ_item my-5"></i>
                    <p class="mt-4 admin_categ_text">Modifier les bons plans</p>
                </div>
            </div>
            <div class="col-6">
                <div class="admin_categ_wrapper text-center">
                    <i class="far fa-comment-alt admin_categ_item my-5"></i>
                    <p class="mt-4 admin_categ_text">Modifier les commentaires clients</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footer %}
{% endblock footer %}
