{% extends 'layout_admin.html.twig' %}

{% block header %}
    {% include 'admin/nav.html.twig' %}
{% endblock header %}
{% block body %}
    <h1>admin page</h1>
    <div class="conatiner">
        <div class="row">
            <div class="col-6">
                <div class="admin_categ_wrapper">

                </div>
            </div>
            <div class="col-6">
                <div class="admin_categ_wrapper">

                </div>
            </div>
        </div>
    </div>
    <i class="far fa-comment-alt mt-5 p-5"></i>
{% endblock body %}
{% block footer %}
{% endblock footer %}
