{% extends 'layout_admin.html.twig' %}

{% block header %}
    {% include 'admin/nav.html.twig' %}
{% endblock header %}
{% block body %}
    <h1>admin page</h1>
{% endblock body %}
{% block footer %}
{% endblock footer %}
