{% block circle %}


<div class="row row_circle">
    <div class="col-md-4 text-center heading">
        <div class="circle circle2 mx-auto">

            <img class="img" src="/assets/images/perceuse.png" alt="perceuse">


        </div>
        <p class="text_circle">Nous combinons un travail de qualité,</br>
            des connaissances supérieures et des prix bas pour vous fournir un service inégalé par nos
            concurrents.</p>

    </div>
    <div class="col-md-4 text-center heading">
        <div class="circle circle2 mx-auto">
            <img class="img" src="/assets/images/ouvrier.png" alt="ouvrier">

        </div>
        <p class="text_circle">Nous avons l'expérience, le personnel et les ressources nécessaires au bon déroulement du projet.</br>
            Nous pouvons nous assurer que le travail est fait à temps.</p>

    </div>
    <div class="col-md-4 text-center heading">
        <div class="circle circle2 mx-auto">
            <img class="img_circle" src="/assets/images/poignée.png" alt="poignée_main">
        </div>
        <p class="text_circle">Travailler avec nous implique une série d’étapes soigneusement planifiées,</br>
            centrées sur un délai que nous respectons et sur une communication efficiente.</p>

    </div>

</div>

{% endblock %}