{% extends 'layout_visitor.html.twig' %}

{% block body %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
                    <p class="lead">A great starter layout for a landing page</p>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="nos_real_title_container">
            <h1 class="nos_real_main_title">Nos Réalisations</h1>
        </div>
        <div class="realisation_main_text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum convallis ornare. Sed magna ante,
                tristique sit amet congue id, placerat at lectus. Maecenas semper molestie risus,
                in pulvinar libero sollicitudin non.
                Quisque ullamcorper est et turpis congue, sit amet dictum nisl interdum.
                Morbi ultricies enim id lectus aliquet.
            </p>
        </div>
    </div>
{% endblock body %}

{% block footer %}
    {% include 'footer/index.html.twig' %}
{% endblock %}