{% block button %}

    <div class="col-lg-6 mb-2">
        <a href="{{ path('projet') }}" class="p-3 button">Commencer mon projet</a>
    </div>

    <div class="col-lg-6 mb-2">
        <a href="{{ path('nos_real') }}" class="p-3 button">Voir nos réalisations</a>
    </div>

{% endblock %}
