{% block button %}
    <div class="col-lg-6 mb-2">
        <button type="button" class="button">Commencer mon projet</button>

    </div>
    <div class="col-lg-6 mb-2">
        <button type="button" class="button">Voir nos réalisations</button>

    </div>
{% endblock %}