{% extends "base.html.twig" %}

{% block body %}

    <footer class="py-5 px-3">
        <div class="mp-0">
            <div class="row d-flex flex-wrap justify-content-around">
                <div class="col-md">
                    <div class="first footer_left_list">
                        <ul class="p-0">
                            <li class="pb-2">
                                <a href="#" class="footer_links">A propos de nous</a>
                            </li>
                            <li class="pb-2">
                                <a href="#" class="footer_links">Je rénov'</a>
                            </li>
                            <li class="pb-2">
                                <a href="#" class="footer_links"><b>Mon projet en ligne</b></a>
                            </li>
                            <li class="pb-2">
                                <a href="#" class="footer_links">Nos réalisations</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="second align-self-center col-md">
                    <img class="renovlogo" src="assets/images/logo-no-back.png" alt="logo">
                </div>

                <div class="col-md">
                    <div class="third footer_right_list">
                        <ul class="p-0">
                            <li class="pb-2">
                                <a href="#" class="footer_links">NOUS RECRUTONS</a>
                            </li>
                            <li class="pb-2">
                                <a href="#" class="footer_links">Conditions Générales de Vente</a>
                            </li>
                            <li class="pb-2">
                                <a href="#" class="footer_links">renoving3a@gmail.com</a>
                            </li>
                            <li class="pb-2">
                                <a href="#" class="footer_links">06 61 66 14 01</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
