{% extends "base.html.twig" %}

{% block body %}

    <footer class="py-5 px-3">
        <div class="mp-0">
            <div class="row d-flex flex-wrap justify-content-around">
                <div class="col-md">
                    <div class="first footer_left_list">
                        <ul class="p-0">
                            <li class="p-2">
                                <a href="#" class="footer_links stretched-link">A propos de nous</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="footer_links stretched-link">Je rénov'</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="footer_links stretched-link"><b>Mon projet en ligne</b></a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="footer_links stretched-link">Nos réalisations</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="second align-self-center col-md">
                    <a class="logo" href="{{ path('index') }}"><img src="{{ asset('build/images/main/logo_no_back.png') }}" alt="RenovingHabitat"></a>
                </div>

                <div class="col-md">
                    <div class="third footer_right_list">
                        <ul class="p-0">
                            <li class="p-2">
                                <a href="#" class="footer_links stretched-link"><span>nous recrutons</span></a>
                            </li>
                            <li class="p-2">
                                <a href="{{ path('cgvu') }}" class="footer_links stretched-link">Conditions Générales de Vente</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="footer_links stretched-link">renoving3a@gmail.com</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="footer_links stretched-link">06 61 66 14 01</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
