
{% block guaranty %}
<p class="text-center pt-2"><img class="ml-3" src="{{ asset('build/images/je_renov_images/marteau.png')}}">«Nos travaux sont garantis jusqu'à 10 ans et une vérification est effectuée tous les 2 ans» </p>
{% endblock %}