
{% block guaranty %}
<p class="text-center">«Nos travaux sont garantis 10 ans et Une vérification est effectuée tous les 2 ans» <img class="ml-3" src="{{ asset('build/images/je_renov/je_renov_images/marteau.png')}}"></p>
{% endblock %}