<nav class="navbar navbar-expand-xl fixed-top navbar-light">
    <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('build/images/main/logo_no_back.png') }}" width=" 250em" alt="RenovingHabitat"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('entreprise') }}">Notre entreprise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nos réalisations</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Je renov'
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Couverture</a>
                    <a class="dropdown-item" href="#">Isolation</a>
                    <a class="dropdown-item" href="#">Interieur</a>
                    <a class="dropdown-item" href="#">Ravalement</a>
                    <a class="dropdown-item" href="#">Menuiserie</a>
                    <a class="dropdown-item" href="#">Terrassement</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><b>Mon projet en ligne</b></a>
            </li>
        </ul>
    </div>
</nav>
