@import '../_vars';

.admin_categ_wrapper {
  position: relative;
  width: 60%;
  padding-bottom: 60%; /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  overflow: hidden;
  background-color: $brand-color;
  border-radius: 20px;
}

.admin_categ_content {
  position:absolute;
  width: 100%;
  height:80%; /* = 100% - 2*10% padding */
  padding: 10% 5%;
}

.admin_categ_item {
  font-size: 1000%;
  color: $white;
}

.admin_categ_container {
  margin-top: 100px;
}

.admin_categ_text {
  margin-left: auto;
  margin-right: auto;
  font-size: 140%;
  color: $white;
}
