{% extends 'base.html.twig' %}

{% block title %}Mettre à jour les bons plans{% endblock %}

{% block body %}
    <h1>Mettre à jour les bons plans.</h1>

    {{ include('good_deal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('good_deal_index') }}">back to list</a>

    {{ include('good_deal/_delete_form.html.twig') }}
{% endblock %}
