{% extends 'layout_admin.html.twig' %}

{% block title %}Modifier les bons plans{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="h1_title_container mx-auto mt-100px mb-5">
            <h1 class="text-center">Modifier les bons plans</h1>
        </div>

        {{ include('good_deal/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('good_deal/_delete_form.html.twig') }}

        <a href="{{ path('good_deal_index') }}">back to list</a>

    </div>
{% endblock %}
