{% extends 'base.html.twig' %}

{% block title %}New GoodDeal{% endblock %}

{% block body %}
    <h1>Create new GoodDeal</h1>

    {{ include('good_deal/_form.html.twig') }}

    <a href="{{ path('good_deal_index') }}">back to list</a>
{% endblock %}
